@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200;400;600&display=swap');


//fonts

$font-primary: 'Sofia Sans Condensed', sans-serif;
$font-secondary: 'Bebas Neue', cursive;


// colors

$color-primary: #333333;
$color-secondary: #94180e;
$color-tertiary: #000000;
$color-span: #0e5a94;


